header {
  width: 1000px;
  background-color:  #ffcccc;
}

#wrapper {
  height: 600px;
  width:1000px;
  display: flex;
  justify-content: space-between;
}

#main {
  height: 100%;
  width: 70%;
  background-color: #ccffcc;
}

#menu {
  width: 30%;
  background-color: #ccccff;
}

footer {
  width: 1000px;
  background-color: #ffccff;
}